= render 'shared/errors', resource: @answer

h1= @question.title
p= @question.body

h4 List answers

.answers= render @question.answers
/ .answers= render @question.answers.order(best: :desc)

= render 'answers/form' if current_user
