.vote
  .vote__balance
    | Баланс голосов:
    .vote__value
      =< resource.balance_votes
  - if current_user && !current_user.owner?(resource)
    .vote__up class = ("#{can_vote_for?(resource, current_user) ? '' : 'hidden_item'}")
      => link_to 'Vote Up',
              "#{polymorphic_path(resource)}/vote_up",
              remote: true,
              data: {type: :json},
              method: :post
      = link_to 'Vote Down',
              "#{polymorphic_path(resource)}/vote_down",
              remote: true,
              data: {type: :json},
              method: :post
    .vote__reset class = ("#{can_vote_for?(resource, current_user) ? 'hidden_item' : ''}")
      = link_to 'Vote RESET',
              "#{polymorphic_path(resource)}/vote_reset",
              remote: true,
              data: {type: :json},
              method: :delete
