<% if @answer.errors.empty? %>
  var $inputFiles = $('#answer_files');
  $('.answers').append('<%= j render @answer %>');
  $('#answer_body').val('');
  $inputFiles.val('');
  $inputFiles.removeAttr("disabled");
<% else %>
  $('.nav').after("<p><%= render 'shared/errors', resource: @answer %></p>");
<% end %>
