<% if @answer.errors.empty? %>
  $('.answers').append('<%= render @answer %>')
  $('#answer_body').val('')
<% else %>
  $('.nav').after("<p><%= render 'shared/errors', resource: @answer %></p>")
<% end %>
