.hide_link_best {
  display: none;
}

.answers {
  border: 1px solid #3e807f;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px;
}
.answer {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #bdffd1;
  padding: 10px;
  margin-bottom: 3px;
}
.best {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #bcffad;
}
